doctype html
html(lang='en)
    head
        title = title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/www/static/index.css')
    body
        div hello world
        div !{name}